<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Consulta CNPJ</title>
    <style>
        body {
            font: 16px "Helvetica Neue", Arial, sans-serif;
            color: #121214;
            margin-top: 15rem;
        }
        table {
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            template: `
        <div class="container">
          <h1>Consulte seu CNPJ</h1>
          <hr />
          <div class="form-todo form-group">
            <p>
              <input placeholder="Digite o CNPJ, somente os números" type="text" name="Número CNPJ" class="form-control" v-model="cnpj"/>
            </p>
            <button v-on:click="addQuery" type="submit" class="btn btn-primary">Consultar</button>
          </div>
          <div class="list-group">
            <div class="list-group-item" v-for="(query, index) in allQuerys">
              <span class="comment__author">CNPJ: <strong>{{ query.cnpj }}</strong></span>
                <p>-----</p>
                <table>
                    <tr>
                        <th>Razão Social</th>
                        <td>{{query.result.razao_social}}</td>
                    </tr>
                    <tr>
                        <th>Nome Fantasia</th>
                        <td>{{query.result.nome_fantasia}}</td>
                    </tr>
                    <tr>
                        <th>Situação Cadastral</th>
                        <td>{{query.result.descricao_situacao_cadastral}}</td>
                    </tr>                 
                    <tr>
                        <th>CNAE</th>
                        <td>{{query.result.cnae_fiscal}} - {{query.result.cnae_fiscal_descricao}}</td>
                    </tr>
                    <tr>
                        <th>Capital Social</th>
                        <td>{{query.result.capital_social}}</td>
                    </tr>
                    <tr>
                        <th>Data da situação cadastral</th>
                        <td>{{query.result.data_situacao_cadastral}}</td>
                    </tr>
                    <tr>
                        <th>Data de início de atividade</th>
                        <td>{{query.result.data_inicio_atividade}}</td>
                    </tr>
                    <tr>
                        <th>Endereço</th>
                        <td>{{query.result.descricao_tipo_logradouro}} {{query.result.logradouro}} , {{query.result.numero}}</td>
                    </tr>
                    <tr>
                        <th>Complemento</th>
                        <td>{{query.result.complemento}}</td>
                    </tr>
                    <tr>
                        <th>Bairro</th>
                        <td>{{query.result.bairro}}</td>
                    </tr>
                    <tr>
                        <th>UF</th>
                        <td>{{query.result.uf}}</td>
                    </tr>
                    <tr>
                        <th>CEP</th>
                        <td>{{query.result.cep}}</td>
                    </tr>
                    <tr>
                        <th>Telefone</th>
                        <td>{{query.result.ddd_telefone_1}}</td>
                    </tr>
                    <br>
                </table>
              <div>
                <a href="#" title="Excluir" v-on:click.prevent="removeQuery(index)">Excluir</a>
              </div>
            </div>
          </div>
          <hr />         
        </div>
      `,
            data() {
                return {
                    querys: [],
                    cnpj: ''
                }
            },
            methods: {
                //
                async addQuery() {
                    // Consult API with key on form
                    const url = "https://minhareceita.org/" + this.cnpj;
                    const response = await fetch(url);
                    const data = await response.json();
                    this.data = data;

                    // Push result data to querys array
                    this.querys.push({
                        cnpj: this.cnpj,
                        result: data
                    });

                    // Clear form
                    this.cnpj = '';
                },
                removeQuery(index) {
                    this.querys.splice(index, 1);
                }

            },
            computed: {
                allQuerys() {
                    return this.querys.map(query => ({
                        ...query,
                        cnpj: query.cnpj,
                        result: query.result
                    }))
                }
            },
            watch: {
                querys(val) {
                    console.log('val', val)
                }
            }
            
        })
    </script>
</body>
</html>